<template>
  <div>
    <md-dialog-confirm
      :md-active.sync="isConfirming"
      :md-title="$t('confirmDeletion.title')"
      :md-content="$t('confirmDeletion.info')"
      :md-confirm-text="$t('confirmDeletion.confirm')"
      :md-cancel-text="$t('confirmDeletion.cancel')"
      @md-confirm="emptyBoard" />
    <div class="action-buttons">
      <md-button @click="showDialogConifrm" class="action-buttons__button md-icon-button md-raised">
        <md-icon>delete_forever</md-icon>
        <md-tooltip md-direction="left">{{ $t('button.tooltip.delete') }}</md-tooltip>
      </md-button>
      <md-button @click="downloadMoodboard" class="action-buttons__button md-icon-button md-raised md-primary">
        <md-icon>get_app</md-icon>
        <md-tooltip md-direction="left">{{ $t('button.tooltip.download') }}</md-tooltip>
      </md-button>
      <md-button @click="printMoodboard" class="action-buttons__button md-icon-button md-raised md-primary">
        <md-icon>print</md-icon>
        <md-tooltip md-direction="left">{{ $t('button.tooltip.print') }}</md-tooltip>
      </md-button>
    </div>
  </div>
</template>
<script>
import SceenshotDownloader from 'client/services/SceenshotDownloader'
export default {
  props: {
    emptyBoard: Function
  },
  data: () => ({
    isConfirming: false
  }),
  methods: {
    downloadMoodboard: function () {
      const { createMoodboardZip } = new SceenshotDownloader()
      createMoodboardZip()
    },
    showDialogConifrm: function () {
      this.isConfirming = true
    },
    printMoodboard: function () {
      window.print()
    }
  }
}
</script>
<style lang="scss" scoped>
.action-buttons {
  position: fixed;
  bottom: 18px;
  right: 25px;
  display: flex;
  flex-direction: column;

  &__button {
    margin: 7px 0;
  }
}

@media print {
  .md-tooltip {
    display: none;
  }
}
</style>
