<template>
  <div class="add-more-placeholder">
    <img src="/images/logo-tarkett.png" alt="Tarkett" class="add-more-placeholder__logo" />
    <h3>{{ $t('placeholder.title') }}</h3>
    <p>{{ $t('placeholder.description') }}</p>
    <md-button
      href="https://www.pinterest.fr/tarkettofficial/boards/"
      class="add-more-placeholder__button md-primary md-raised">
      {{ $t('placeholder.button') }}
    </md-button>
  </div>
</template>
<style lang="scss">
.add-more-placeholder {
  outline: 3px dashed #414141;
  outline-offset: -6px;
  padding: 40px 20px;
  text-align: center;

  &__logo {
    width: 100%;
    max-width: 100px;
  }

  &__button {
    white-space: normal;
  }
}

</style>