<template>
  <div class="dashboard" ref="dashboardContainer" :style="dashboardStyle">
    <Screenshot
      class="dashboard__item dashboard__item--draggable"
      v-for="screenshot in screenshots"
      :key="screenshot.id"
      :screenshot="screenshot"
      :onLoad="onScreenshotAdded"
      :class="{ 'dashboard__item--width-2x': screenshot.isLandscape }" />
    <AddMorePlaceholder
      class="dashboard__item dashboard__placeholder"
      v-if="displayPlaceholder" />
  </div>
</template>
<script>
import DashboardManagerFactory from 'client/services/DashboardManagerFactory'
import { getWindowFullDimensions } from 'utils/window'
import AddMorePlaceholder from './AddMorePlaceholder'
import Screenshot from './Screenshot'
import { DASHBOARD_ITEM_CLASS, NUMBER_OF_COLUMNS } from '../constants'

export default {
  components: {
    AddMorePlaceholder,
    Screenshot
  },
  props: {
    screenshots: Array
  },
  data: () => ({
    dashboardManager: null,
    dashboardStyle: {}
  }),
  computed: {
    displayPlaceholder () {
      return this.getNumberOfOccupiedColumns(this.screenshots) < NUMBER_OF_COLUMNS
    }
  },
  mounted: async function () {
    const { createDashboardManager } = new DashboardManagerFactory()
    this.dashboardManager = createDashboardManager(
      this.$refs.dashboardContainer,
      DASHBOARD_ITEM_CLASS
    )
    this.refreshDashboard()
    this.calculateDashboardStyle()
    window.onresize = this.calculateDashboardStyle
  },
  methods: {
    getNumberOfOccupiedColumns: function (items) {
      return items.reduce(
        (columnsCount, item) => {
          const itemNumberOfColumns = item.isLandscape ? 2 : 1
          return columnsCount + itemNumberOfColumns
        }, 0
      )
    },
    bindDragEventsToElement: function (item) {
      this.dashboardManager.bindDragEventsToItem(item)
    },
    refreshDashboard: function () {
      if (this.dashboardManager) {
        this.$nextTick(this.dashboardManager.refreshItems)
      }
    },
    onScreenshotAdded: function (item) {
      this.bindDragEventsToElement(item)
      this.refreshDashboard()
    },
    calculateDashboardStyle: function () {
      const dashboardWidth = getWindowFullDimensions().width * 0.9
      this.dashboardStyle = { width: `${dashboardWidth}px` }
    }
  },
  watch: {
    screenshots: function () {
      this.refreshDashboard()
    },
    displayPlaceholder: function () {
      this.refreshDashboard()
    }
  }
}
</script>
<style lang="scss">
body {
  margin: 0;
}
.packery-drop-placeholder {
  outline: 3px dashed #414141;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
          z-index: 0;
}
</style>
<style scoped lang="scss">
.dashboard {
  margin: 30px auto;

  &__item {
    box-sizing: border-box;
    width: calc(25% - 5px);


    &--draggable {
      cursor: pointer;

      &.is-dragging {
        cursor: grabbing;
      }
    }

    &--width-2x {
      width: calc(50% - 5px);
    }
  }
}

@media print {
  .dashboard__placeholder {
    display: none;
  }
}
</style>