<template>
  <div class="screenshot">
    <div class="screenshot__delete-button" @click="onDelete">
      <i class="material-icons">close</i>
    </div>
    <div class="screenshot__overlay" @click="onClickScreenshot"></div>
    <img class="screenshot__image" :src="blobURL" ref="imageElement">
  </div>
</template>
<script>
import Loader from 'client/view/components/Loader.vue'
import ImageHandler from 'shared/services/ImageHandler'
import ScreenshotRepository from 'shared/repositories/ScreenshotRepository'
import { createBlobURL } from 'utils/dataURL'

export default {
  components: {
    Loader
  },
  props: {
    onLoad: Function,
    screenshot: Object
  },
  computed: {
    blobURL: function () {
      return createBlobURL(this.screenshot.url)
    }
  },
  mounted: function () {
    this.$refs.imageElement.onload = this.onLoadImage
  },
  methods: {
    isItemDragging: function () {
      const classList = [...this.$el.classList]
      return classList.includes('is-dragging') || classList.includes('is-positioning-post-drag')
    },
    onClickScreenshot: function (e) {
      if (!this.isItemDragging()) {
        ImageHandler.searchWithImage(this.screenshot.url)
      }
    },
    onDelete: function () {
      const screenshotRepository = new ScreenshotRepository()
      screenshotRepository.deleteValueById(this.screenshot.id)
    },
    onLoadImage: function () {
      this.onLoad(this.$el)

      // ⚠ ONLY BIND DRAG EVENT ONCE
      this.$refs.imageElement.onload = null
    }
  }
}
</script>
<style scoped lang="scss">
.screenshot {
  z-index: 1;
  /* TODO: Remove this margin-bottom */
  margin-bottom: -3px;

  &__image {
    width: 100%;
  }

  &__overlay {
    height: 100%;
    position: absolute;
    width: 100%;

    &:hover {
      background: rgba(0,0,0,0.2);
    }
  }

  &:hover {
    .screenshot__delete-button {
      display: flex;
    }
  }

  &__delete-button {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: none;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    z-index: 2;

    &:hover {
      background-color: #f9f9f9;
    }

    .material-icons {
      font-size: 25px;
    }
  }
}
</style>