<template>
<!-- Loader found at https://loading.io/css/ -->
  <div class="lds-ellipsis">
    <div v-bind:style="{ backgroundColor: color }"></div>
    <div v-bind:style="{ backgroundColor: color }"></div>
    <div v-bind:style="{ backgroundColor: color }"></div>
    <div v-bind:style="{ backgroundColor: color }"></div>
  </div>
</template>
<script>
  export default {
    props: {
      color: String
    }
  }
</script>
<style>
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 16px;
}
.lds-ellipsis div {
  position: absolute;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 3px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 3px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 13px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 23px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 0);
  }
}
</style>