<template>
  <md-list>
    <md-list-item @click="openScreenshoter">
      <md-icon>add_a_photo</md-icon>
      <span class="md-list-item-text">{{ $t('captureScreenshot') }}</span>
    </md-list-item>

    <md-list-item @click="openMoodboardTab">
      <md-icon>dashboard</md-icon>
      <span class="md-list-item-text">toto{{ $t('goToMoodboard') }}</span>
    </md-list-item>
  </md-list>
</template>
<script>
import ScreenshoterMessage from 'shared/messages/ScreenshoterMessage'
import TabManager from 'shared/services/TabManager'
export default {
  methods: {
    openScreenshoter: async function () {
      const { id } = await TabManager.getActiveTab()
      const { displayScreenshoter } = new ScreenshoterMessage()
      displayScreenshoter({ tabId: id })
      window.close()
    },
    openMoodboardTab: async function () {
      await TabManager.openMoodboardTab()
      window.close()
    }
  }
}
</script>