<template>
  <div class="tk-confirmation-buttons">
    <ConfirmationButton
      icon="add_to_photos"
      :title="$t('button.tooltip.addToMoodboard')"
      :onClick="add" />
    <ConfirmationButton
      icon="refresh"
      :title="$t('button.tooltip.redo')"
      :onClick="cancel" />
    <ConfirmationButton
      icon="search"
      :title="$t('button.tooltip.search')"
      :onClick="search" />
  </div>
</template>
<script>
import ConfirmationButton from './ConfirmationButton'

export default {
  components: {
    ConfirmationButton
  },
  props: {
    add: Function,
    cancel: Function,
    search: Function
  }
}
</script>
<style scoped lang="scss">
.tk-confirmation-buttons {
  display: flex;
  height: 50px;
}
</style>