<template>
  <div class="tk-button" @click="onClick">
    <i class="material-icons">{{ icon }}</i>
    <span class="tk-button-tooltip">{{ title }}</span>
  </div>
</template>
<script>
export default {
  props: {
    onClick: Function,
    icon: String,
    title: String
  }
}
</script>
<style scoped lang="scss">
.tk-button {
  align-items: center;
  background: white;
  border: thin solid #999;
  cursor: pointer;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  width: 50px;
  position: relative;

  &:hover {
    background: #e0e0e0;
  }

  &-tooltip {
    background-color: white;
    border-radius: 5px;
    top: calc(100% + 10px);
    font-family: Roboto;
    left: 50%;
    margin-left: -60px;
    padding: 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 120px;
    z-index: 1;
  }

  &:hover &-tooltip {
    visibility: visible;
  }
}
</style>