<template>
  <div class="tk-crosshairs" :style="{ left: left + 'px', top: top + 'px' }"></div>
</template>
<script>
export default {
  props: {
    left: Number,
    top: Number
  }
}
</script>
<style lang="scss" scoped>
.tk-crosshairs {
  cursor: crosshair;
  height: 100%;
  position: fixed;
  user-select: none;
  width: 100%;
  z-index: 1000000001;

  &::before,
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &::before {
    left: -100%;
    top: -100%;
    border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  }

  &::after {
    left: 0px;
    top: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
  }
}

</style>