<template>
  <div
    class="tk-screenshot-overlay"
    @click="onOverlayClick"
    :class="{ selecting: isSelecting, confirming: needConfirmation }"
    :style="{ borderWidth: formatBorderWidth(cropAreaDistanceToBorder) }"
  >
    <div
      class="tk-screenshot-overlay__confirmation-buttons"
      :style="{
        top: screenshotWindowHeight + 'px',
        right: '0px'
      }"
      @click="preventBubbling"
    >
      <ConfirmationButtons
        v-if="needConfirmation"
        :add="add"
        :cancel="cancel"
        :search="search"></ConfirmationButtons>
    </div>
  </div>
</template>
<script>
import ConfirmationButtons from './ConfirmationButtons.vue'
import { getWindowInnerDimensions } from 'utils/window'

export default {
  components: {
    ConfirmationButtons
  },
  data: () => ({
    screenshotWindowHeight: 0
  }),
  props: {
    add: Function,
    cancel: Function,
    search: Function,
    onOverlayClick: Function,
    isSelecting: Boolean,
    needConfirmation: Boolean,
    cropAreaDistanceToBorder: {
      top: Number,
      right: Number,
      bottom: Number,
      left: Number
    }
  },
  watch: {
    needConfirmation: function () {
      const verticalBorderTotalHeight = this.cropAreaDistanceToBorder.top + this.cropAreaDistanceToBorder.bottom
      this.screenshotWindowHeight = getWindowInnerDimensions().height - verticalBorderTotalHeight
    }
  },
  methods: {
    formatBorderWidth: function ({
      top,
      right,
      bottom,
      left
    }) {
      return `${top}px ${right}px ${bottom}px ${left}px`
    },
    preventBubbling: function (e) {
      e.stopPropagation()
    }
  }
}
</script>
<style lang="scss" scoped>
.tk-screenshot-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: crosshair;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 1000000000;

  &.selecting {
    box-sizing: border-box;
    background: none;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
  }

  &.confirming {
    cursor: default;
  }

  &__confirmation-buttons {
    position: absolute;
    cursor: pointer;
  }
}
</style>