<template>
  <div v-if="isActive" @mousemove="move" @mousedown="mouseDown" @mouseup="mouseUp">
    <CloseIcon class="tk-screenshoter__close-icon" :onclick="hideScreenshoter"></CloseIcon>
    <div v-if="showHelper" class="tk-screenshoter__helper">
      {{ $t('helper') }}
    </div>
    <Overlay
      :isSelecting="isSelecting"
      :cropAreaDistanceToBorder="cropAreaDistanceToBorder"
      :needConfirmation="needConfirmation"
      :onOverlayClick="hideScreenshoter"
      :add="addToMoodboard"
      :search="takeScreenshot"
      :cancel="resetScreenshoter"></Overlay>
    <Crosshairs
      v-if="showCrosshairs"
      :left="crossHairsLeft"
      :top="crossHairsTop"></Crosshairs>
  </div>
</template>
<script>
import messageTypes from 'shared/messageTypes'
import CloseIcon from 'client/view/components/CloseIcon.vue'
import CropAreaDrawer from 'client/services/CropAreaDrawer'
import ChromeMessageEventManager from 'shared/ChromeMessageEventManager'
import CropAreaMessages from 'client/messages/CropAreaMessages'
import Crosshairs from './components/Crosshairs.vue'
import Overlay from './components/Overlay.vue'

export default {
  components: {
    CloseIcon,
    Crosshairs,
    Overlay
  },
  data: function () {
    return {
      isActive: false,
      cropAreaDrawer: null,
      isSelecting: false,
      isDragging: false,
      needConfirmation: false,
      cropAreaDistanceToBorder: {
        top: 0,
        right: 0,
        bottom: 0,
        left: 0
      },
      // Handling the positioning of the crosshairs
      crossHairsLeft: 0,
      crossHairsTop: 0
    }
  },
  mounted: function () {
    this.cropAreaDrawer = new CropAreaDrawer()

    document.addEventListener('keydown', this.handleKeydown)

    const chromeMessageEventManager = new ChromeMessageEventManager()
    chromeMessageEventManager.addListener(messageTypes.DISPLAY_SCREENSHOTER, this.showScreenshoter)
  },
  destroyed: function () {
    document.removeEventListener('keydown', this.handleKeydown)
  },
  computed: {
    showCrosshairs: function () {
      return !this.isDragging && !this.needConfirmation
    },
    showHelper: function () {
      return !(this.isDragging || this.needConfirmation || this.isSelecting)
    }
  },
  methods: {
    addToMoodboard: function () {
      this.hideScreenshoter()
      const cropAreaMessages = new CropAreaMessages()
      cropAreaMessages.addToMoodboard(this.cropAreaDrawer.getCropAreaCoordinates())
    },
    handleKeydown: function (e) {
      if (e.key === 'Escape') this.hideScreenshoter()
    },
    hideScreenshoter: function () {
      if (this.isDragging) return
      this.isSelecting = false
      this.isDragging = false
      this.isActive = false
      this.needConfirmation = false
    },
    showScreenshoter: function () {
      this.isActive = true
    },
    resetScreenshoter: function () {
      this.isSelecting = false
      this.isDragging = false
      this.isActive = true
      this.needConfirmation = false
    },
    move: function (e) {
      this.updateCrosshairsPosition(e)

      if (this.isSelecting && !this.needConfirmation) {
        this.isDragging = true
        this.cropAreaDrawer.updateCropAreaPosition(e)
        this.cropAreaDistanceToBorder = this.cropAreaDrawer.getCropAreaDistanceToBorder()
      }
    },
    mouseDown: function (e) {
      if (!this.needConfirmation) {
        this.cropAreaDrawer.startCropper(e)
        this.cropAreaDistanceToBorder = this.cropAreaDrawer.getCropAreaDistanceToBorder()
        this.isSelecting = true
      }
    },
    mouseUp: function (e) {
      this.borderWidth = 0
      if (this.isDragging) {
        // Don't take the screenshot unless the mouse moved somehow.
        this.isDragging = false
        this.needConfirmation = true
      } else {
        this.hideScreenshoter()
      }
    },
    takeScreenshot: function () {
      this.hideScreenshoter()
      const cropAreaMessages = new CropAreaMessages()
      cropAreaMessages.takeScreenshot(this.cropAreaDrawer.getCropAreaCoordinates())
    },
    updateCrosshairsPosition: function (e) {
      this.crossHairsTop = e.clientY
      this.crossHairsLeft = e.clientX
    }
  }
}
</script>
<style lang="scss" scoped>
.tk-screenshoter {
  &__close-icon {
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 15px;
    z-index: 1000000002;
  }

  &__helper {
    bottom: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    left: 20%;
    position: fixed;
    right: 20%;
    text-align: center;
    z-index: 1000000002;
  }
}
</style>