<template>
  <div class="moodboard">
    <md-toolbar class="moodboard__header md-primary">
      <h3 class="md-title">{{ $t('title') }}</h3>
    </md-toolbar>
    <h3 class="moodboard__print-title md-title">{{ $t('printTitle') }}</h3>
    <Dashboard
      class="moodboard__dashboard"
      :screenshots="screenshots" />
    <ActionButtons
      class="moodboard__actions"
      :emptyBoard="emptyBoard" />
  </div>
</template>
<script>
import Storage from 'shared/repositories'
import ScreenshotRepository from 'shared/repositories/ScreenshotRepository'
import ActionButtons from './components/ActionButtons.vue'
import AddMorePlaceholder from './components/AddMorePlaceholder.vue'
import Dashboard from './components/Dashboard.vue'

export default {
  components: {
    ActionButtons,
    AddMorePlaceholder,
    Dashboard
  },
  data: () => ({
    screenshots: []
  }),
  mounted: async function () {
    this.updateScreenshots()
    Storage.onChange(this.updateScreenshots)
  },
  methods: {
    emptyBoard: function () {
      const { clearStorage } = new ScreenshotRepository()
      clearStorage()
    },
    updateScreenshots: async function () {
      const { getListScreenshots } = new ScreenshotRepository()
      this.screenshots = await getListScreenshots()
    }
  }
}
</script>
<style scoped lang="scss">
.moodboard {
  &__dashboard {
    z-index: 0;
  }

  &__actions {
    z-index: 1;
  }

  &__print-title {
    display: none;
  }
}

@media print {
  .moodboard {
    &__actions,
    &__header {
      display: none;
    }

    &__print-title {
      display: block;
    }
  }
}
</style>
<style lang="scss">
@media print {
  @page {
    size: landscape
  }

  body {
    min-height: inherit;
  }
}
</style>
