<template>
  <div class="container">
    <img class="screenshot" :src="blobURL">
    <div class="helper" v-if="hasFailed">
      {{ $t('failed.message') }}
    </div>
    <div class="retry-button" v-if="hasFailed" @click="redirectToSearchPage">
      <i class="material-icons">refresh</i>
    </div>
    <div class="helper" v-if="!hasFailed">
      {{ $t('progress.message') }}
    </div>
    <ProgressBar v-if="!hasFailed" class="progress-bar" />
  </div>
</template>
<script>
import Aladdin from 'shared/services/Aladdin'
import LoadingImageRepository from 'shared/repositories/LoadingImageRepository'
import { createBlobURL } from 'utils/dataURL'
import ProgressBar from './components/ProgressBar'

export default {
  components: {
    ProgressBar
  },
  data: () => ({
    hasFailed: false,
    blobURL: ''
  }),
  created: async function () {
    const screenshotURL = await this.initializeScreenshot()
    await this.redirectToSearchPage(screenshotURL)
  },
  methods: {
    redirectToSearchPage: async function (screenshotURL) {
      try {
        const { searchAladdinWithImageURL } = new Aladdin()

        this.hasFailed = false
        const serpURL = await searchAladdinWithImageURL(screenshotURL)
        window.location.href = serpURL
      } catch (e) {
        this.hasFailed = true
      }
    },
    initializeScreenshot: async function () {
      const { getLoadingImageURL } = new LoadingImageRepository()
      const screenshotURL = await getLoadingImageURL()
      this.blobURL = await createBlobURL(screenshotURL)

      return screenshotURL
    }
  }
}
</script>
<style>
  body {
    margin: 0;
  }
</style>
<style scoped>
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 90%;
    min-height: 100vh;
  }

  .helper {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .screenshot {
    box-shadow: 2px 2px 4px #ccc;
  }

  .retry-button {
    cursor: pointer;
  }

  .progress-bar {
    margin-top: 15px;
    width: 500px;
  }
</style>