<template>
  <md-progress-bar
    class="progress-bar"
    :md-mode="finishedLoading ? 'indeterminate' : 'determinate'"
    :md-value="progress" />
</template>
<script>
const PROGRESS_INTERVAL = 500
const ESTIMATED_TIME = 10000
const PROGRESS_STEP = 100 * PROGRESS_INTERVAL / ESTIMATED_TIME

export default {
  data: () => ({
    finishedLoading: false,
    progress: 0
  }),
  created: async function () {
    window.setTimeout(this.updateProgressBar, PROGRESS_INTERVAL)
  },
  methods: {
    updateProgressBar: function () {
      this.progress += PROGRESS_STEP
      if (this.progress > 100) {
        this.finishedLoading = true
      } else {
        window.setTimeout(this.updateProgressBar, PROGRESS_INTERVAL)
      }
    }
  }
}
</script>
